{{template "header" .}}
<div class="main-content">
    <div class="title-container">
        <h2 class="ui icon header">
            <i class="database icon"></i>
            <div class="content">
                数据库设置
                <div class="sub header">YouComic 基于数据库管理系统，必须配置相应的设置使得服务正常使用</div>
            </div>
        </h2>
    </div>
    <div class="ui segment">
        <form class="ui form" method="post" action="/database">
            <div class="field">
                <label>数据库地址（Host）</label>
                <input type="text" name="host" placeholder="数据库地址，例如localhost" value="localhost">
            </div>
            <div class="field">
                <label>端口（Port）</label>
                <input type="text" name="port" placeholder="数据库端口，例如3306" value="3306">
            </div>
            <div class="field">
                <label>数据库名称（Name）</label>
                <input type="text" name="database" placeholder="数据库名称" value="youcomic">
            </div>
            <div class="field">
                <label>用户名（Username）</label>
                <input type="text" name="username" placeholder="用户名" value="root">
            </div>
            <div class="field">
                <label>密码（Password）</label>
                <input type="password" name="password" placeholder="密码" >
            </div>
            <button class="ui green button" type="submit">确认</button>
        </form>
    </div>

</div>

{{template "footer" .}}