{{template "header" .}}
<div class="main-content">
    <div class="title-container">
        <h2 class="ui icon header">
            <i class="folder icon"></i>
            <div class="content">
                存储设置
                <div class="sub header">YouComic 需要将内容存储区域，请指定路径</div>
            </div>
        </h2>
    </div>
    <div class="ui segment">
        <form class="ui form" method="post" action="/store">
            <div class="field">
                <label>服务文件路径</label>
                <p>用于存放头像、日志文件、保存的设置等。</p>
                <input type="text" name="root" placeholder="服务文件存储路径">
            </div>
            <div class="field">
                <label>书籍存储路径</label>
                <p>用于存放书籍，请尽量选在保存空间较大的路径</p>
                <input type="text" name="books" placeholder="书籍仓储路径" >
            </div>
            <button class="ui green button" type="submit">确认</button>
        </form>
    </div>

</div>

{{template "footer" .}}