.main-content{
    margin-top: 180px;
    min-height: 100vh;
}
.message{
   text-align: center;
}

.title-container{
    margin-top: 72px;
    text-align: center;
}

.footer{
    width: 100%;
    background-color: white;

}
.footer-content{
    height: 96px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}