{{template "header" .}}
<div class="main-content">
    <div class="title-container">
        <h2 class="ui icon header">
            <i class="server icon"></i>
            <div class="content">
                服务
                <div class="sub header">YouComic 服务配置</div>
            </div>
        </h2>
    </div>
    <div class="ui segment">
        <form class="ui form" method="post" action="/application">
            <div class="field">
                <label>API端口</label>
                <input type="text" name="port" placeholder="服务端口地址" value="8880">
            </div>
            <button class="ui green button" type="submit">确认</button>
        </form>
    </div>

</div>

{{template "footer" .}}