{{template "header" .}}
        <div class="main-content message">
            <h2 class="ui icon header">
                <i class="settings icon"></i>
                <div class="content">
                    安装程序
                    <div class="sub header">检测到您是第一次使用该程序，在正式使用之前需要一些设置。请根据页面的引导进行配置。</div>
                </div>
            </h2>
            <div>
                <a class="ui right green labeled icon button action-button" href="/database">
                    <i class="right  arrow icon"></i>
                    下一步
                </a>
            </div>
        </div>

{{template "footer" .}}